<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Informações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">info</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>UNISUAM - Centro Universitário Augusto Motta</ion-card-title>
      <ion-card-subtitle><strong>Avaliação Formadora - Competência II</strong></ion-card-subtitle>
      <strong>Análise e Desenvolvimento de Sistemas - Desenvolvimento de Aplicações Mobile<br>
      Nome: Karollyne de Oliveira Cordeiro<br>
      Turma: ADS0301M<br>
      Matrícula: 23101899</strong>
      <ion-button fill="clear" routerLink="/home">APRESENTAÇÃO</ion-button>
      <ion-button fill="clear" routerLink="/api">APLICAÇÃO DA API</ion-button>
    </ion-card-header>
  </ion-card>

  