<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Página de Apresentação
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Avaliação Formadora - Competência II</ion-card-title>
      Olá, meu nome é Karollyne e estou apresentando o aplicativo que desenvolvi 
      utilizando o Ionic Framework para a segunda Avaliação Formadora do período de Desenvolvimento de Aplicativos Mobile.
      O objetivo desta Avaliação Formadora foi criar uma página de apresentação que contenha links para outras duas páginas e que uma delas utilize uma API, 
      todas as páginas devem possuir nevegabilidade entre si.
      <strong>ABAIXO ESTÃO OS LINKS PARA AS OUTRAS PÁGINAS</strong>
    </ion-card-header>
    
    <ion-button fill="clear" routerLink="/info">INFORMAÇÕES</ion-button>
    <ion-button fill="clear" routerLink="/api">APLICAÇÃO DA API</ion-button>
  </ion-card>

</ion-content>

